.photos-container {
  flex-direction: column;
}
.photos-wrapper {
  min-height: 100vh;
  display: flex;
  gap: 2.3%;
  flex-wrap: wrap;
}
.photo-wrapper {
  flex: 0 31.8%;
  min-width: 200px;
  margin-top: 2.3%;
  cursor: pointer;
  overflow: hidden;
  img {
    object-fit: cover;
    transition: .4s;
    width: 100%;
    height: 100%;
  }
}
.photo-wrapper:hover img{
  transform: scale(1.1);
}
.pagination {
  margin: 1rem auto;
}
.pagination .pagination-btn {
  width: 30px;
  height: 30px;
  font-size: 17px;
  border: 2px solid white;
  background: none;
  color: white;
  cursor: pointer;
  outline: none;
}
.pagination .page-number {
  color: white;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 2px;
  font-size: 16px;
}
.pagination .page-number.active {
  font-weight: bold;
}

.pagination-btn[disabled] {
  color: #b8b8b8;
  border-color: #b8b8b8;
  cursor: pointer;
}
.container-full-screen {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  background: rgba(0,0,0, .9);
  top: 0;
  z-index: 2;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &.show-photo {
    display: flex;
  }
}
.photo-full-size {
  max-height: 93%;
  max-width: 80%;
  cursor: auto;
}

@media (max-width: 992px) {
  .photo-wrapper {
    flex: 0 48.8%;
  }
}
@media (max-width: 768px) {
  .photo-wrapper {
    flex: 0 100%;
    height: 300px;
    margin-top: 20px;
  }
}
