.photos-container .photo-wrapper {
  flex: 0 31.8%;
  min-width: 200px;
  margin-top: 2.3%;
  cursor: pointer;
  object-fit: cover;
  overflow: hidden;
}
.photos-container img {
  object-fit: cover;
  transition: .4s;
  width: 100%;
}
.photos-container .photo-wrapper:hover img{
  transform: scale(1.1);
}
.photos-container {
  display: flex;
  gap: 2.3%;
  flex-wrap: wrap;
}
.pagination {
  margin: 1rem auto;
}
.pagination .pagination-btn {
  width: 30px;
  height: 30px;
  font-size: 17px;
  border: 2px solid white;
  background: none;
  color: white;
  cursor: pointer;
  outline: none;
}
.pagination .page-number {
  color: white;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 2px;
  font-size: 16px;
}
.pagination .page-number.active {
  font-weight: bold;
}

.pagination-btn[disabled] {
  color: #b8b8b8;
  border-color: #b8b8b8;
  cursor: pointer;
}
.image-preloader {
  height: 52px;
  width: 52px;
  background-color: #ccc;
  @include background-gradient;
  animation: shine-avatar $animation-duration infinite linear;
}

@keyframes shine-avatar {
  0% {
    background-position: -100px + $photo-offset;
  }
  40%,
  100% {
    background-position: 140px + $photo-offset;
  }
}
