<!DOCTYPE html>
<html lang="en">

{{> head}}
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KCML66M"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
    {{> header}}
    {{> body}}

    {{> footer}}
    <script src="{{root}}assets/js/app-min.js"></script>
</body>
</html>
