<!DOCTYPE html>
<html lang="en">

{{> head}}
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KCML66M"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
    {{> header}}
    {{> body}}

    {{> footer}}
    <script src="assets/js/app-min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/ScrollToPlugin.min.js"></script>

    <script type="text/javascript" src="assets/js/animate-onscroll.js"></script>
    <script type="text/javascript" src="assets/js/smooth-change-link.js"></script>
</body>
</html>
